@import url('https://fonts.googleapis.com/css?family=Bitter:300,500,700|Indie+Flower:100,200,300,400,500,600,700|PT+Sans:100,200,300,400,500,600,700');

/* Colour and Font Variables */
:root {
--color-primary: #A60311; 
--color-primary-dark: rgb(138, 9, 20);
--font-primary: 'PT+Sans', cursive, sans-serif;
}

/* GENERAL SETTINGS */

body{
    font-family: var(--font-primary);
    font-weight: 300;   
    color:#fff;
    background-color: #000;
 }

.uppercase{
    text-transform: uppercase;
}

.opaque-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* NAVBAR*/
.header-fixed{
   position: fixed;
   top: 0;
   right:0;
   left: 0;
   z-index: 1;
}

.navbar-bg{
    background: linear-gradient(grey, #000);
    border: none;
    font-family: 'PT+Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
    z-index: 1;
}

.logo {
    display: block;
    width: 10rem;
}

.navbar-link{
    font-family: 'Indie Flower', cursive, sans-serif;
    font-weight: 700;
    font-size: xx-large;
    margin: 10px 10px;
}

.navbar-nav{
    text-align:center;
    font-weight:500;
}

/* HOME PAGE*/

.home-container{
    height: 100vh;
    background: url("../images/home-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;                       
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.home-heading-container {
    height: inherit;
    backface-visibility: hidden;
}

.home-heading {
    margin-top: -3rem;
    text-transform: uppercase;
    display: block;
    font-weight: 400;
    font-family: 'Indie+Flower';
    animation: moveInLeft 1s ease-out;
}

  
@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%{
        transform: translateX(1rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.quote-text{
    bottom: .3rem;
    right: 2rem;
    text-align: right;
    position: absolute;
    animation: moveInRight 1s ease-out;
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(2rem);
    }

    80%{
        transform: translateX(-1rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

/* ABOUT  */

.container-wrapper-about{
    background: url("../images/about.backgr.img.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;                       
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-container{
    height: 100%;
    padding: 50px;
}  

.about-first-text{
    color: #fff;
}

.about-main-text{
    font-family: 'Bitter', sans-serif;
    color: 	#000;
}

.musicians-names{
    font-family: 'Indie+Flower', cursive, sans-serif;
    font-weight: 700;
    color: #fff;
}


/* Tours */
.container-wrapper-tours{
    background: url("../images/tours-background.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;                       
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.tours-container {
    height: 100%;
    padding:90px 40px;
}

.tours-content {
    font-size: larger;
    font-weight:bold;
}

.tour-booking-heading {
    font-family: 'Indie Flower', cursive, sans-serif;
    font-weight: 700;
    font-size: xx-large;
}

/* Media */
.container-wrapper-gallery {
    background: url("../images/gallery-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;                       
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.gallery-container{
    padding:70px 40px;
}

.card-img-top {
    object-fit: cover;
}

.container-wrapper-music {
    background: linear-gradient(var(--color-primary), #000);  
}

.music-container {
    padding:70px 40px;
}

.container-wrapper-video {
    background: url("../images/video-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;                       
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}


.video-container {
   padding:40px 40px; 
}


/* Footer */
.footer-container {
    background: linear-gradient(#808080, #000);
}

.footer-heading {
    text-align: center;   
    color: #fff;
    font-family: 'Bitter', sans-serif;
    font-weight: 500; 
    padding: 10px 0 5px 0;
}

.block-divider {
    width: 70px;
    height: 5px;
    border-radius: 10%;
    background-color: var(--color-primary);
}

.social-links {
    padding-bottom: 5px;
}

.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 25px 0;
    border-radius: 50%; 
    font-size: 25px;
    line-height: 3px;
    text-align: center;
    color: #fafafa;
    background: #000;
    transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
}

.fa-facebook:hover {
    background: #3b5998;
}

.fa-twitter:hover {
    background: #00aced;
}

.fa-instagram:hover {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.fa-youtube:hover {
    background: #bb0000;
}

.copyright{
    font-family:'PT+Sans', sans-serif;
    font-weight:400;
    padding-bottom: 10px;
}


/* Buttons */
.btn {
    font-family: 'Bitter', sans-serif;
    font-weight: 700;
    border-radius: 23px;
    width: 160px;
}

.btn-small {
    width:60px;
    height:40px;
    font-family:'Bitter', sans-serif;
    font-weight:300;
}

.btn-red,
 .btn-red:link,
 .btn-red:visited{
    color: #fff;
    background-color: var(--color-primary);
    border: none;
    transition: all .2s;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    background-color: var(--color-primary-dark);
    transform: scale(1.05) translateY(-1px);
    outline: none;
    color: #fff;
    border: none;
}



.modal-content{
    color:#000;
    background-color:#fafad2;
}

.jumbotron{
    background-color: rgba(230, 230, 255, 0.9);
    width: 90%;
    color:#000;
}

@media (min-width: 768px) and (max-width: 991px)  {

    .musician-img {
        height: 220px;
        width: 220px;
        margin:5px;
    }

    .music-player {
        width:100%;
    }
}

@media (min-width: 768px){

    .jumbotron {
        width: 60%;
    }

    .musician-about-img {
        padding-right: 105px;
        padding-left: 105px;
    }


}


@media (min-width: 991px){ 

    .home-heading {
        font-size: 3.7rem;
        letter-spacing: 1.1rem;
    }

}