@import url('https://fonts.googleapis.com/css?family=Bitter:300,500,700|Indie+Flower:100,200,300,400,500,600,700|PT+Sans:100,200,300,400,500,600,700');

/* Colour and Font Variables */
:root {
--color-primary: #A60311; 
--color-primary-dark: rgb(138, 9, 20);
--font-primary: 'PT+Sans', sans-serif;
}

/* GENERAL SETTINGS */

body {
    font-family: var(--font-primary);
    font-weight: 300;   
    color:#fff;
    background-color: #000;
}

h1 {
    font-size: 2.6rem;
    letter-spacing: 3px;
}

.uppercase {
    text-transform: uppercase;
}

.opaque-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.block-divider {
    width: 4.5rem;
    height: .3rem;
    border-radius: 10%;
    background-color: var(--color-primary);
}

/* BUTTONS */
.btn {
    font-family: 'Bitter', sans-serif;
    font-weight: 700;
}

.btn:focus,
.btn:active {
    outline: none;
    box-shadow: none;
}

.btn-red-primary,
.btn-red-primary:link,
.btn-red-primary:visited{
    color: #fff;
    background-color: var(--color-primary);
    border: none;
    transition: all .2s;
    border-radius: 1.5rem;
    width: 10rem;
}

.btn-red-primary:hover,
.btn-red-primary:active,
.btn-red-primary:focus {
    background-color: var(--color-primary-dark);
    transform: scale(1.05) translateY(-1px);
    color: #fff;
}

.btn-white {
    color: #000;
    background-color: rgba(235, 230, 229, 0.904);
    border: none;
    width: auto;
    border-radius: 1.5rem;
}

.btn-red-secondary {
    color: #fff;
    background-color: var(--color-primary);
}

.btn-red-secondary:hover {
    color: #fff;
    background-color: var(--color-primary-dark);
}

.disabled {
    cursor: default !important;
}


/* NAVBAR*/
.header-fixed{
   position: fixed;
   top: 0;
   right:0;
   width: 100%;
   z-index: 11;
}

.navbar-bg {
    background: linear-gradient(#808080, #000);
    border: none;
    font-weight: 500;
    letter-spacing: 1.5px;
    z-index: 1;
}

.logo {
    display: block;
    width: 10rem;
}

.navbar-nav {
    text-align: center;
    font-weight: 500;
}


/* HOME PAGE*/
#home-container {
    height: 100vh;
    background: url("../images/home-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;                       
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.home-heading-container {
    height: inherit;
    backface-visibility: hidden;
}

.home-heading {
    margin-top: -6rem;
    text-transform: uppercase;
    display: block;
    font-weight: 400;
    font-family: 'Indie+Flower';
    animation: moveInLeft 1s ease-out;
}

  
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.quote-text {
    font-size: .9rem;
    font-family: 'PT+Sans', cursive, sans-serif;
    bottom: 10%;
    right: 1rem;
    text-align: right;
    position: absolute;
    animation: moveInRight 1s ease-out;
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(2rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#home-container a span {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 1.3rem;
    height: 1.3rem;
    margin-left: -1rem;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: arrow-animation 2s infinite;
    animation: arrow-animation 2s infiite;
}

@keyframes arrow-animation {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-1rem, 1rem);
      opacity: 0;
    }
  }


/* ABOUT  */
.container-wrapper-about {
    background-image:  linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.8)), 
         url("../images/about-bg.jpg");
    -webkit-background-size: cover;                       
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 3rem;
}

.mobile-content {
    background-color: rgba(250, 250, 241, 0.918);
}

.modal-title,
.mobile-content,
.modal-body {
    color:#000;
}

.musician-img-figure {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.musician-img {
    border-radius: 50%;
    object-fit: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .5s ease-in-out;
}

.musician:hover .musician-img {
    filter: blur(3px) brightness(80%);
    transform: scale(.9);
}

.musicians-names {
    font-family: 'Indie+Flower', cursive, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 10%);
    text-align: center;
    opacity: 0;
    transition: all .5s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.musician:hover .musicians-names{
    opacity: 1;
    transform: translate(-50%, -50%);
}

/*SIGN UP MODAL*/

.modal-heading {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: 'Bitter', sans-serif;
}

.signup-modal-paragraph {
    color: #000;
    font-family: 'Bitter', sans-serif;
    font-size: 1.1rem;
}

textarea#enquiry.form-control {
    border: 1px solid #a8a7a7c2;
    border-radius: 2px;
    font-family: 'Bitter', sans-serif;
}

textarea#enquiry.form-control:focus {
    outline: none;
    box-shadow: none;
}

input[type=email],
input[type=text]{
    border: 1px solid #a8a7a7c2;
    border-radius: 2px;
    box-shadow: none;
    width: 55% !important;
    font-family: 'Bitter', sans-serif;
}

input#name.form-control,
input#email.form-control {
    width: 100% !important;
}

input[type=email]:focus,
input[type=text]:focus  {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
    outline: none;
    border: 1px solid #a7a8a7c2;
    border-bottom: 3px solid #087008c2;
}

input[type=email]:focus:invalid,
input[type=text]:focus:invalid {
    border-bottom: 3px solid #f30505c2;
}

/* TOURS PAGE */
.container-wrapper-tours {
    background: url("../images/tours-background.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;                       
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.tours-container {
    height: 100%;
    padding-top: 8rem;
}

.tour-booking-heading {
    font-family: 'Indie Flower', cursive, sans-serif;
    font-weight: 700;
    font-size: 1.65rem;
}

.jumbotron{
    background-color: rgba(241, 241, 255, 0.808);
    width: 95%;
    color:#000;
}

/* MEDIA PAGE */
.container-wrapper-gallery {
    background: url("../images/gallery-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;                       
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.gallery-container {
    height: 100%;
    padding-top: 8rem;
}
  
.card-img-top {
    object-fit: cover;
}

.container-wrapper-music {
    background: linear-gradient(var(--color-primary-dark), #000); 
}

.music-container {
    padding: 2rem 0;
}

.music-player {
    border: none;
    width: 100%;
}

.container-wrapper-video {
    background: url("../images/video-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;                       
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.video-container {
    padding: 2rem 0;
}


/* FOOTER */
.footer-container {
    background: linear-gradient(#808080, #000);
}

.social-links li a i {
    width: 2.18rem;
    height: 2.18rem;
    padding: 1rem 0;
    border-radius: 50%; 
    font-size: 1.1rem;
    line-height: 3px;
    text-align: center;
    color: #fafafa;
    background: #000;
    transition: all 0.55s ease-in-out;
    -moz-transition: all 0.55s ease-in-out;
    -webkit-transition: all 0.55s ease-in-out;
    -o-transition: all 0.55s ease-in-out;
}

.fa-facebook:hover {
    background: #3b5998;
}

.fa-twitter:hover {
    background: #00aced;
}

.fa-instagram:hover {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%,
                     #fdf497 0%, #fdf497 5%, #fd5949 45%,
                     #d6249f 60%,#285AEB 90%);
}

.youtube-footer:hover {
    background: #bb0000;
}

.disclaimer{
    font-family:'PT+Sans', sans-serif;
    font-weight:400;
    padding-bottom: 10px;
}

.footer-author-link,
.footer-author-link:hover {
    transition: all .3s ease-in-out;
    color: #fff;
}

.footer-author-link:hover {
    color: var(--color-primary);
    text-decoration: none;
}

/* MEDIA QUERIES */

/*Mobile media queries*/
@media (min-width: 375px){
    input[type=email]{
        width: 65% !important;
    }
}

/*Tablet media queries*/
@media (min-width: 768px){
    .home-heading {
        margin-top: -3rem;
    }

    .quote-text{
        bottom: .3rem;
        right: 2rem;
        font-size: 1rem;
    }

    #home-container{
        height: 95vh;
    }

    #home-container a span {
        top: 85%;
        left: 50%;
        width: 1.8rem;
        height: 1.8rem;
    }

    .jumbotron {
        width: 60%;
    }

    input[type=email]{
        width: 75% !important;
    }

    .music-container {
        max-width: 991px;
    }
}

/*Desktop media queries*/
@media (min-width: 991px){ 

    .home-heading {
        font-size: 3.7rem;
        letter-spacing: 1.1rem;
    }

    .jumbotron-paragraph {
        font-size: 1.3rem;
    }

    .tour-booking-heading {
        font-size: 2rem;
    }
}

/*Large screens media queries*/
@media (min-width: 1700px){ 
    .container {
        max-width: 85%;
    }

    .music-container {
        max-width: 70%;
    }
}